// Place all the styles related to the mainpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* mainpageのCSS */

body {
  background-color: rgb(247, 241, 242);
  margin: 0;
}

.notice {
  margin: 0 auto;
  margin-top: 4px;
  width: 680px;
  color: #5593aa;
}

.alert {
  margin: 0 auto;
  margin-top: 4px;
  width: 680px;
  color: #f57775;
}

.bulsup-whole-page {
  margin: 0 auto;
  margin-top: 30px;
  width: 680px;
}

.bulsup-intro {
  width: 682px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid rgb(194, 186, 186);
  background-color: #fff;
}

.introduction, .introduction_results {
  font-size: 18px;
  margin: 0 auto;
  width: 680px;
}

.error-message {
  border: 1px solid rgb(231, 118, 118);
  margin: 10px auto;
  width: 95%;
  li {
    color: rgb(231, 118, 118);
  }
}

.form {
  margin: 0 auto;
  width: 680px;
}

.field {
  display: flex;
  margin: 25px;
}

.activity-level-field {
  flex-flow: column;
}

.btn-field {
  margin: 20px 0;
  text-align: center;
}

.calculate-btn, .signup-btn, .update-btn, .password-btn, .confirmation-btn {
  background-color: rgb(216, 165, 175);
  border-radius: 5px !important;
  border-color: rgb(216, 165, 175);
  color: #f3f0f0;
  height: 40px;
  width: 150px;
  font-size: 15px;
}

.confirmation-btn {
  width: 200px;
}

.calculate-btn:hover, .signup-btn:hover, .update-btn:hover,
.password-btn:hover, .confirmation-btn:hover {
  background-color: rgb(193, 135, 146);
  cursor: pointer;
}

span {
  margin: 0 5px;
}

.radio_button {
  margin-left: 42px;
}

input[type="text"] {
  width: 120px;
  height: 20px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid rgb(100, 100, 100);
}

input[type="date"] {
  width: 120px;
  height: 25px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid rgb(100, 100, 100);
}

input[type="email"], input[type="password"], #user_name,
#user_job {
  width: 260px;
  height: 25px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid rgb(100, 100, 100);
}

#user_birthdate_1i {
  width: 60px;
  height: 25px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid rgb(100, 100, 100);
}

#user_birthdate_2i, #user_birthdate_3i {
  width: 40px;
  height: 25px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid rgb(100, 100, 100);
}

#information_age, #information_height, #information_weight {
  width: 50px;
  margin-left: 72px;
}

.date_field, .weight_to_gain_field {
  margin-left: 72px;
}

.activity-level-elment {
  border: 0.5px solid #e8d6d6;
  margin: 1px;
  padding: 5px;
  width: 485px;
}

.activity-level-elment:hover {
  background-color: rgb(243, 221, 223);
  cursor: pointer;
}

.activity_level {
  display: inline-block;
  width: 92%;
  margin: 0;
}

.activity_detail {
  padding-left: 20px;
}

.label {
  font-weight: bold;
}

.label_results {
  margin: 0;
}

.field_results {
  margin: 0 10px;
}

.activity_results {
  margin-bottom: 0;
}

.activity_level_results {
  margin-top: 5px;
}

.sex_field_results, .age_field_results, .height_field_results, .weight_field_results {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.suggest_meal_btn {
  width: 400px;
}

#meal_content {
  width: 680px;
}

.meal_content_title {
  font-weight: bold;
}

dl dt{
  width: 300px;
  padding:10px 0;
  float:left;
  clear:both;
}

dl dd{
  padding:10px 0;
}

dl {
  margin: 0 30px;
}

.change-password-caution {
  font-size: 13.4px;
  color: #c66868;
}

.required {
  color: rgb(231, 118, 118);
  align-items: baseline;
  font-size: 13px;
}

.title {
  color: rgb(179, 128, 128);
  border-bottom: 1px solid rgb(203, 153, 153);
}

.bulsup-login, .bulsup-password-new {
  width: 250px;
  margin-left: 40px;
}

.bulsup-login-dd, .bulsup-password-again {
  margin: 0 40px;
}

.remember_field {
  margin: 0 120px;
}

.bulsup_login_field {
  display: flex;
  align-items: center;
  margin: 10px 120px;
  margin-top: 5px;
  .login-btn {
    width: 200px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    background-color: rgb(231, 118, 118);
    border-color: rgb(231, 118, 118);
    border-radius: 5px;
  }
  .login-btn:hover {
    background-color: rgb(190, 81, 81);
    border-color: rgb(190, 81, 81);
  }
  .bulsup_login_link {
    margin-left: 35px;
  }
}

.password_reset_field, .confirmation_resend_field {
  margin-left: 140px;
  margin-right: 140px;
  justify-content: space-around;
}

.logout_field {
  display: flex;
  justify-content: right;
}

.logout_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 23px;
  font-size: 13px;
  text-decoration: none;
  background-color: #a16666;
  color: #f3f0f0;
  border-radius: 15px;
}

.logout_link:hover {
  background-color: #c69292;
}

@media (max-width: 921px) {
  .notice, .alert, .bulsup-whole-page, .bulsup-intro, .form, #meal_content {
    width: 94%;
  }

  .introduction {
    width: 94%;
  }

  .introduction_results {
    width: 100%;
  }

  .activity-level-elment {
    width: 96%;
  }

  .peirod_of_gaining_weight_field, .weight_to_gain_field_whole {
    display: block;
  }

  .date_field, .weight_to_gain_field  {
    margin-left: 0;
    margin-top: 5px;
  }

  .calculate-btn, .signup-btn, .update-btn, .password-btn, .confirmation-btn {
    margin-top: 5px;
    height: 40px;
    width: 94%;
  }

  .bulsup_login_field {
    margin: 10px 150px;
    margin-top: 5px;
  }

  .remember_field {
    margin: 5px 150px 0;
  }

  .bulsup-login, .bulsup-password-new {
    width: 250px;
    margin-left: 90px;
  }
  
  .bulsup-login-dd, .bulsup-password-again {
    margin: 0;
  }
}

@media (max-width: 765px) {
  dl dt{
    width: 300px;
    padding: 0;
    float: none;
    clear: none;
  }

  dl dt{
    display: flex;
    clear: none;
  }

  dt {
    margin-top: 15px;
  }

  dl dd{
    padding: 0;
  }

  dd {
    margin: 0;
  }

  .dummy {
    display: none;
  }

  input[type="email"], input[type="password"], 
  #user_name, #user_job {
    width: 100%;
    margin-top: 5px;
    height: 30px;
  }

  #user_birthdate_1i, #user_birthdate_2i, #user_birthdate_3i {
    height: 30px;
  }

  .bulsup_login_field {
    margin: 0 30px;
    display: block;
    .login-btn {
      width: 100%;
      margin-top: 15px;
    }
    .bulsup_login_link {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  .remember_field {
    margin: 5px 30px 0;
  }

  .bulsup-login, .bulsup-password-new {
    width: 250px;
    margin-left: 0;
  }
  
  .bulsup-login-dd, .bulsup-password-again {
    margin: 0;
  }

  .password_reset_field, .confirmation_resend_field {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* ヘッダー */

.bulsup-header {
  height: 80px;
  background-color: rgb(237, 165, 165);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bulsup_link {
  text-decoration: none;
  margin: 0 35px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(105, 10, 58);
}

#navbar-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23px;
  align-items: center;
  cursor: pointer;
  margin-right: 25px;
}

.bar {
  background-color: #915c5c;
  width: 30px;
  height: 3px;
  transition: all 0s ease-in-out;
}

.hidden-menu {
  display: none;
  position: fixed;
  top: 80px; 
  right: 0;
  width: 200px;
  height: 100%;
  padding: 10px 30px 0 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: rgba(236, 236, 236, 0.95);
  align-items: center;
  li {
    display: block;
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1.5px solid rgb(238, 206, 206);
    a {
      background-color: transparent;
      text-decoration: none;
      color: #915c5c;
      font-family:'Courier New', Courier, monospace;
      display: block;
    }
    a:hover {
      color: #a83232;
    }
  }
}

.hidden-menu.open {
  display: block;
}

.hidden-menu li:last-child {
  margin-bottom: 0;
}

.hidden-menu.open li:last-child {
  margin-bottom: 0;
}


#navbar-toggle.open .bar {
  top: 38px;
  right: 25px;
  width: 28px;
  position: absolute;
}
 
#navbar-toggle.open span:first-child {
  transform: rotate(45deg);
}

#navbar-toggle.open span:nth-child(2) {
  display: none;
}

#navbar-toggle.open span:last-child {
  transform: rotate(-45deg);
}