<p>※このメールは自動送信メールです。</p>

<p><%= @resource.email %> 様</p>

<p>パスワードの変更が要求されました。 以下のリンクからパスワードを変更してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに身に覚えがない場合は無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを発行するまで変更されません。</p>
