<div class="bulsup-whole-page">
    <h2 class="title">会員登録メール送信</h2>

    <div class="bulsup-formBody">
        <h4>
            登録メールを送信しました！<br />
            届いたメールのリンクからアカウントを有効化してください。
        </h4>
    </div>
</div>